# Build do Next.js
.next/

# Dependências do Node.js
node_modules/

# Logs e cache
*.log
.cache/

# Arquivos temporários do Webpack
*.hot-update.js

# CSS gerado automaticamente
styles/output.css

# Arquivo de configuração do Vercel
.vercel

# Arquivo grande que estava impedindo o push
frontend/node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node
